{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="col-lg-9 incident-list" dir="rtl">
	<nav aria-label="breadcrumb" style="padding-top: 8%;">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">{% blocktrans %}Dashboard{% endblocktrans %}</a></li>
			{% if open_task %}
				<li class="breadcrumb-item active" aria-current="page">{% blocktrans %}Open tasks{% endblocktrans %}</li>
			{% elif my_task %}
				<li class="breadcrumb-item active" aria-current="page">{% blocktrans %}My tasks{% endblocktrans %}</li>
			{% elif all_task %}
				<li class="breadcrumb-item active" aria-current="page">{% blocktrans %}All tasks{% endblocktrans %}</li>
			{% endif %}
		</ol>
	</nav>
	<div class="pull-right">
		<button class="btn btn-success print" style="margin-bottom: 12%;"><i class="fa fa-print" aria-hidden="true"></i>{% blocktrans %} Print{% endblocktrans %}</button>
	</div>
	<a href="{% url 'export_task_xls' %}"><button class="btn btn-success export"><i class="fa fa-file-excel-o" aria-hidden="true"></i>{% blocktrans %} Export Task{% endblocktrans %}</button></a>
	<table class="table table-striped" id="example" class="display" style="width:100%">
		<thead>
			<th>#</th>
			<th>Subject Name</th>
			<th>assigned_user</th>
			<th>status</th>
			<th>Due Date</th>
			<th>Incident Name</th>
		</thead>
		<tbody>
			{% for task in tasks_list %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{task.task_subject}}</td>
					<td>{{task.assigned_user}}</td>
					<td>{{task.status}}</td>
					<td>{{task.due_date}}</td>
					<td>{{task.incident.subject}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% include 'pagination.html' %}
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
	$(document).ready(function(){

		function printData()
		{
		   var divToPrint=document.getElementById("example");
		   newWin= window.open("");
		   newWin.document.write(divToPrint.outerHTML);
		   newWin.print();
		   newWin.close();
		}

		$('.print').on('click',function(){
		printData();
		}) 

		$('#example').DataTable( {
		        initComplete: function () {
		            this.api().columns().every( function () {
		                var column = this;
		                var select = $('<select><option value=""></option></select>')
		                    .appendTo( $(column.header()) )
		                    .on( 'change', function () {
		                        var val = $.fn.dataTable.util.escapeRegex(
		                            $(this).val()
		                        );
		                        column
		                            .search( val ? '^'+val+'$' : '', true, false )
		                            .draw();
		                    } );
		 
		                column.data().unique().sort().each( function ( d, j ) {
		                    select.append( '<option value="'+d+'">'+d+'</option>' )
		                } );
		            } );
		        }
		    } );
	});
</script>
{% endblock %}
